body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box{
    width: 20vw;
    height: 20vh;
    transition: 0.5s;
    cursor: pointer;
    font-family: Courier, monospace;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

.box:hover{
    /* 23uz p&rd0@ */
    transform:scale(1.1);
    box-shadow: 15px 15px 0 rgba(0, 0, 0, 1);
    border: 5px solid #fff;
    border-radius: 30px;
}

@media screen and (max-width: 768px){
    .box{
        width: 100%;
    }
}